<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Bad request</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    400 Bad request</h2>
                <div class="error-details">
                    Sorry, an error has occured!
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

