{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <!-- Latest compiled and minified CSS -->
    <link type='text/css' href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/jquery-ui.min.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/jquery-ui.structure.min.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/bootstrap-select.min.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/graph.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/selectivity-full.min.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/lightbox.css' %}" rel='stylesheet'>
    <link type='text/css' href="{% static 'css/bootstrap-toggle.min.css' %}" rel='stylesheet'>

    <title>ProteomeVis: yeast</title>
</head>


<body>
    <ul class='custom-menu' id='pcg-node'>
        <li data-action="clusterInfo">Cluster info</li>
        <li data-action="removeHighlight" id='liRemove'>Remove highlight</li>
        <li data-action="node-focus">Focus</li>
    </ul><!-- NAV BAR AT TOP -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid" style="width:1024px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="btn-group navbar-form navbar-left" id='speciesSelectorBtnGroup'>
                <button class="btn btn-default active" name='speciesBtn' type="button" value='0'><i>S. cerevisiae</i></button>
                <button class="btn btn-default" name='speciesBtn' type="button" value='1'><i>E. coli</i></button>
            </div>
<!--            <div class="navbar-form navbar-left" id='mutantToggleDiv'>
                <input checked id='toggleMutant' type="checkbox" data-toggle="toggle" data-on="Mutants" data-off="No mutants">
            </div>	-->
            <div class="navbar-form navbar-left" id='typeLimitsBtnGroup'>
                <label>TM</label> <input class="typeLimitsInput form-control" id='TMi' placeholder='min' type="text"> to <input class="typeLimitsInput form-control" id='TMf' placeholder='max' type="text"> <label>SID</label> <input class="typeLimitsInput form-control" id='SIDi' placeholder='min' type="text"> to <input class="typeLimitsInput form-control" id='SIDf' placeholder='max' type="text">
            </div>
            <div class='navbar-form navbar-left' id='nodeColor'>
            </div>
            <div class="navbar-form navbar-left">
                <button class="btn btn-default" data-target="#mDataexport" data-toggle="modal" id='downloadAllDataBtn' title='Save current data' type="button"><span class='glyphicon glyphicon-save'></span></button>
            </div>
           <div class="navbar-form navbar-left">
                <button class="btn btn-default" data-target="#mTour" data-toggle="modal" id='tourBtn' title='Help' type="button"><span class='glyphicon glyphicon-question-sign'></span></button>
            </div>
      </div><!-- /.container-fluid -->
    </nav>
    <table>
        <tr>
            <td>
                <div class='vis-panel' id='typeVis' style="min-width:303.13px;min-height:158.19px">
                    Edge Filtering<span id='helpHover-ef' class='glyphicon glyphicon-asterisk pull-right' data-toggle="popover" title="Edge Filtering" data-content="Scatter plot of the structure similarity (TM) and sequence identity (SID) for all protein chain pairs for the chosen organism in the Control Strip. Green edges denote physical protein-protein interactions. TM and SID range for protein chain graph generation can be set by brushing over points."></span>
                </div>
                <div class='vis-panel' id='pcgVis' style="min-width:303.13px;min-height:281.8px">
                    Protein Chain Graph<span id='helpHover-pcg' class='glyphicon glyphicon-asterisk pull-right' data-toggle="popover" title="PCG" data-content="Each node denotes a protein chain and each edge denotes a pair of protein chains that has a TM and SID in the chosen ranges. Green edges also denote physical protein-protein interactions. The bar below indicates the number of nodes visualized in black and the number of orphan nodes not visualized in grey. The color fill of each node reflects the relative value of the property selected in the Control Strip."></span>
                </div>
                <div class="fixed-tooltip" id='tooltip'></div>
            </td>
            <td>
                <div class='container vis-panel' id='view' style="min-width:303.13px;min-height:443px">
                    Protein Inspection<span id='helpHover-pi' class='glyphicon glyphicon-asterisk pull-right' data-toggle="popover" title="Protein Inspection" data-content="Proteins searched in the search bar below or clicked-on nodes in the Protein Chain Graph can be further studied in the Individual tab. All clusters in the Protein Chain Graph greater than size 2 are tabulated in the Cluster tab."></span>

                    <ul class="nav nav-tabs" id='viewTabGroup'>
                        <li class="tab active" id='nodeListTab' role="presentation">
                            <a href="#">Individual</a>
                        </li>
                        <li class='tab' id='clusterListTab' role="presentation">
                            <a href="#">Cluster</a>
                        </li>
                    </ul>
                    <div id='nodeList'>
                        <div style='display:block;'>
                            <div class='selectivity-input' id='protein_search'></div> <!--<button class='btn btn-default' id='btnProteinSearch' role='button' type='button'><span class='glyphicon glyphicon-search'></span></button>-->
                        </div>
                        <ul class="media-list" id='individual_list'></ul>
                    </div>
                    <div id='clusterList'>
                        <div id='clusterScatter'></div>
                    </div>
                </div>
            </td>
            <td>
                <div class='vis-panel' id='splomVis' style="min-width:399.59px;min-height:443px">
                    Scatter Plot Matrix<span id='helpHover-splom' class='glyphicon glyphicon-asterisk pull-right' data-toggle="popover" title="SPloM" data-content="Log-log (base 10) plots for protein chain properties. Color fill of each plot follows the Spearman correlation p-value scale below when the Spearman correlation is greater than 0.15. Clicking a plot will show it magnified in the bottom right of the panel alongside its statistics."></span>
                    <div id='splom-bar'></div>
                    <div id='splom'></div>
                </div>
            </td>
        </tr>
    </table>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="pleaseWaitDialogInitial" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Processing...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="mTour" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h1 align='center'><a href="https://github.com/rrazban/proteomevis">ProteomeVis</a></h1>
                    <h1 align='center'><small>to be published</small></h1>
                    <h1 align='center'><small>last updated November 14, 2017</small> </h1>
                    <h1 align='center'><small>email Rostam (rrazban@g.harvard.edu) for questions/comments</small> </h1>	
                </div>
                <div class="modal-body">
                    <button class='btn btn-primary' id='startTourBtn'>Take the tour!</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="errorMessage" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="color:maroon">
                <div class="modal-header">
                    <h1>Oops!</h1>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-error pull-left " data-dismiss="modal" type="button">Okay</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="errorMessagetwo" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="color:maroon">
                <div class="modal-header">
                    <h1>Oops!</h1>
                </div>
                <div class="modal-body">The website timed out. Please refresh and try again.</div>
                <div class="modal-footer">
                    <button class="btn btn-error pull-left " data-dismiss="modal" type="button" onClick="window.location.reload()">Refresh</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="editAttributes" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4>Edit scatterplot matrix</h4>
                </div>
                <div class="modal-body container">
                    <div class="sideBySide row">
                        <div class="right col-xs-3">
                            Order:
                            <ul class="target connected" id='attributes-used'></ul>
                        </div>
                        <div class="left col-xs-3">
                            Not included:
                            <ul class="source connected" id='attributes-unused'>
                                <!-- add stuff here -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> <button class="btn btn-primary" id='btnSaveAttributes' type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="pleaseWaitDialog" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Calculating...</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Modal -->
    <div aria-labelledby="data-export" class="modal fade" id="mDataexport" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mlDataexport">Download options</h4>
                </div>
                <div class='modal-body'>
                    <ul class="nav nav-tabs" id="tabContent">
                            <li id='mb-tab-nodes' class="active"><a href="#mbDataexport" data-toggle="tab">Nodes & Edges</a></li>
                            <li id='mb-tab-corr'><a href="#mbSPLOMexport" data-toggle="tab">Correlations</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- main data download tab -->
                       <form action="export_nodes/" class="tab-pane active" id='mbDataexport' method="post" name="mbDataexport">{% csrf_token %}
                            <div data-toggle="buttons" id='main-options' class='modal-body-buttons'></div>
                            <hr>
                            <div class="input-group col-xs-2" id='delimiter'>
<!--                                <span class="input-group-addon" id="basic-addon1">Delimiter</span>		doesnt work, also i think unnecsarry, csv format is standard
                                <input aria-describedby="basic-addon1" class="form-control" name='delimiter' type="text" value=",">-->
                            </div>
                            <hr>
                            <div class="modal-body-buttons" data-toggle="buttons" id='more-options'>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="numedges" type="radio" value='0'> No edges <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn" id='numedges_adddisclaimer_label'>
                                    <input autocomplete="off" name="numedges" type="radio" value='1' id='numedges_adddisclaimer_input'> Edges in current range <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn">
                                    <input autocomplete="off" name="numedges" type="radio" value='2'> All edges <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                            </div>
                            <hr>
                            <input id='dataExport_nodes' name='nodes[]' type='hidden'> 
                            <input id='dataExport_triggeredby' name='form_trigger' type='hidden'> 
                            <input id='dataExport_TMi' name='TMi' type='hidden'> 
                            <input id='dataExport_TMf' name='TMf' type='hidden'> 
                            <input id='dataExport_SIDi' name='SIDi' type='hidden'> 
                            <input id='dataExport_SIDf' name='SIDf' type='hidden'> 
                            <input id='dataExport_species' name='species' type='hidden'>
                            <input id='dataExport_option' name='option' type='hidden'>
                            <div class="btn-group">
                                <button class="btn btn-info btn-lg" id='btnSubmitDataExport' type="submit">Download data</button>
                            </div>
                        </form>

                        <!-- SPLOM data download tab -->
                        <form action="export_splom/" class="tab-pane" id='mbSPLOMexport' method="post" name="mbSPLOMexport">{% csrf_token %}
                            <div data-toggle="buttons" id='correlation-main-options' class='modal-body-buttons'></div>
                            <hr>
                            <div class="modal-body-buttons" data-toggle="buttons" id='correlations-options'>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='p_value'> p-value <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active" id='numedges_adddisclaimer_label'>
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='r_value'> r<sup>2 </sup> value <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='slope'> slope <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='intercept'> intercept <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='std_err'> standard error <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='p_value_SP'> p-value (Spearman) <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                                <label class="more-options btn active">
                                    <input autocomplete="off" checked name="correlation-options" type="checkbox" value='rho_SP'> rho (Spearman) <span class='modal-button-checkmarks glyphicon glyphicon-ok'></span>
                                </label>
                            </div>
                            <hr>
                            <input id='splomExport_column_order' name='column_order[]' type='hidden'> 
                            <input id='splomExport_correlations' name='correlations[]' type='hidden'> 
                            <input id='splomExport_TMi' name='TMi' type='hidden'> 
                            <input id='splomExport_TMf' name='TMf' type='hidden'> 
                            <input id='splomExport_SIDi' name='SIDi' type='hidden'> 
                            <input id='splomExport_SIDf' name='SIDf' type='hidden'> 
                            <input id='splomExport_species' name='species' type='hidden'>
                            <div class="btn-group">
                                <button class="btn btn-info btn-lg" id='btnSubmitSPLOMExport' type="submit">Download correlation data</button>
                            </div>
                        </form>

                        <form style="display:none" action="export_edges/" method="post" id="exportEdges" name='exportEdges'>{% csrf_token %}
                            <input id='dataExport_edges' name='edges'> 
                            <input id='dataExport_edges_TMi' name='TMi'> 
                            <input id='dataExport_edges_TMf' name='TMf'> 
                            <input id='dataExport_edges_SIDi' name='SIDi'> 
                            <input id='dataExport_edges_SIDf' name='SIDf'> 
                            <input id='dataExport_edges_species' name='species'> 
                            <input id='dataExport_edges_nodes' name='nodes[]' type='hidden'> 
                        </form>

                    </div>
                    
                </div>
             <!--   <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div> -->
            </div>
        </div>
    </div>
    <div id='lightbox-div'></div>

    <script src="{% static "libs/libs.min.js" %}"></script>
    
    <script src="{% static "js/attributesmanager.js" %}"></script>
    <script src="{% static "js/proteome.js" %}"></script>
    <script src="{% static "js/colorbar.js" %}"></script>
    <script>
      $(function () {
        $(".source, .target").sortable({
          connectWith: ".connected"
        });
      });
      $('.glyphicon-asterisk').popover({placement: 'left'});
      $('.glyphicon-asterisk').on('mouseover', function () { $(this).popover('show'); });
      $('.glyphicon-asterisk').on('mouseout', function () { $(this).popover('hide'); });
      $(function() {
        $('#toggleMutant').bootstrapToggle();
      });
    </script>

</body>

</html>
